<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>
<link rel="stylesheet" href="https://canvas.toddr.org/css/feed.css">
<script src="https://canvas.toddr.org/js/feed.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>

title Feed | #{name}
<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
    |
    |h1 {
    |font-family: Arial, Helvetica, sans-serif; 
    |float:left;
    |}
    |p {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h2 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h3 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |button {
    |      border-radius: 4px;
    |background-color: #ff0000;
    |border: none;
    |color: #FFFFFF;
    |text-align: center;
    |font-size: 17px;
    |padding: 10px;
    |width: 250px;
    |cursor: pointer;
    |margin: 5px;
    |}
    |button.right{
    |float:right;
    |}
    |table{
    |width: 100%
    |}
    |input[type=text] {
    |width: 30%;
    |padding: 12px 20px;
    |margin: 8px 0;
    |box-sizing: border-box;
    |}
    |input:invalid {
    |    border: 1px solid red;
    |}
</style>
<body onload="loadData('#{canvasKey}');">
<div class="topnav">
    |<a href="https://canvas.toddr.org/feed" class="active">Feed</a>
    |<a href="https://canvas.toddr.org/classes" class="">Classes</a>
    |<a style="float: right" href="https://canvas.toddr.org/user"><div class="image-cropper"><img float="right" src="#{profilePictureURL}" class="rounded"></div></a>
</div>
<div class="main">
<table>
  <tr>
    <td>
      <h1 style="float: left">Feed</h1>
    </td>
    <td style="width: 150px">
      <button style="float: right; width: 150px" onclick="announcements();">Announcements</button>
    </td>
    <td style="width: 150px">
      <button style="float: right; width: 150px" onclick="assignments();">Assignments</button>
    </td>
  </tr>
</table>
<hr>

<div id="loader"></div>
<script src="https://5h2k01hs2jbw.statuspage.io/embed/script.js"></script>