<link rel="stylesheet" href="https://canvas.toddr.org/css/navigation.css">
<script src="https://canvas.toddr.org/js/user.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">
<link rel="shortcut icon" type="image/png" href="https://toddr.org/images/favicon.png"/>


title User | #{name}

<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
    |
    |h1 {
    |font-family: Arial, Helvetica, sans-serif; 
    |float:left;
    |}
    |p {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |li {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h2 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |h3 {
    |font-family: Arial, Helvetica, sans-serif;    
    |}
    |button {
    |      border-radius: 4px;
    |background-color: #ff0000;
    |border: none;
    |color: #FFFFFF;
    |text-align: center;
    |font-size: 17px;
    |padding: 10px;
    |width: 100px;
    |cursor: pointer;
    |margin: 5px;
    |}
    |button.right{
    |float:right;
    |}
    |table{
    |width: 100%
    |}
    |input[type=text] {
    |width: 30%;
    |padding: 12px 20px;
    |margin: 8px 0;
    |box-sizing: border-box;
    |}
    |input:invalid {
    |    border: 1px solid red;
    |}
    |a{
    |color: #FF0000;  
    |}
    |hr {
    |  width: 100%;
    |  background-color: gray;
    |  height: 1px;
    |  border: none;
    |}
</style>

<div class="topnav">
    |<a href="https://canvas.toddr.org/feed" class="">Feed</a>
    |<a href="https://canvas.toddr.org/classes">Classes</a>
    |<a style="float: right" href="https://canvas.toddr.org/user"><div class="image-cropper"><img float="right" src="#{profilePictureURL}" class="rounded"></div></a>
</div>
<div class="main">

<span>
<h1>Onboarding Guide</h1>
</span>
<hr>
h2 Step 1
p Get your canvas API key by visiting your canvas settings page.
<li> Click on "Account" under your profile picture</li>
<li>Click "Settings" in the menu that opens</li>
<li> Click "New Access Token"</li>
<li>Enter a purpose, and leave "Expires" blank. Generate the token.</li>
<li>Copy the token, and paste it in the Canvas API Key box <a href="user">on your user page</a> and hit "load"</li>

h2 Step 2
p Enter your canvas site's URL into your user page
<li>Go to <a href="user">your user page</a> and enter your canvas site's URL in the Canvas URL textbox and hit "load"</li>
p Your canvas URL is the URL you type in to access canvas, for example institutionname.instructure.com or lms.toddr.org

h2 You're all set up
<p>If you click on <a href="classes">classes</a>, you should now see a list of your enrolled classes.</p>
<p>If you do not, you can get more help by emailing support at <a href="mailto://canvas@dev.toddr.org>">canvas@dev.toddr.org</a></p>
</div>
<script src="https://5h2k01hs2jbw.statuspage.io/embed/script.js"></script>