<link rel="stylesheet" href="https://canvas.toddr.org/css/navigation.scss">
<script src="https://canvas.toddr.org/js/navigation.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">

<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
</style>

<nav>
  <ul>
    <li><a href="#0">Home</a></li>
    <li><a href="#0">Feed</a></li>
    <li>
      <a href="#0">Account</a>
      <ul>
        <li><a href="#0">Canvas Settings</a></li>
        <li><a href="#0">Logout</a></li>
      </ul>
    </li>
  </ul>
</nav>