<link rel="stylesheet" href="https://canvas.toddr.org/css/navigation.css">
<script src="https://canvas.toddr.org/js/navigation.js"></script>
<link href="https://fonts.googleapis.com/css?family=Lexend+Exa&display=swap" rel="stylesheet">

<style>
    |.image-cropper {
    |width: 30px;
    |height: 30px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
</style>

<div class="topnav">
    |<a href="https://canvas.todd.org" class="active">Home</a>
    |<a href="https://canvas.toddr.org/feed">Feed</a>
    |<a href="https://canvas.toddr.org/user"><div class="image-cropper"><img float="right" src="#{profilePictureURL}" class="rounded"></div></a>
</div>