<link rel="stylesheet" href="https://canvas.toddr.org/css/navigation.css">
<script src="https://canvas.toddr.org/js/navigation.js"></script>

<style>
    |.image-cropper {
    |width: 40px;
    |height: 40px;
    |position: relative;
    |overflow: hidden;
    |border-radius: 50%;
    |}
    |
    |img {
    |display: inline;
    |margin: 0 auto;
    |height: 100%;
    |width: auto;
    |float: right;
    |}
</style>

<nav id='menu'>
    |<input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    |<ul>
    |<li><a href='https://canvas.toddr.org/feed'>Feed</a></li>
    |<li><a href='https://canvas.toddr.org/settings'>Canvas Settings</a></li>
    |<li class="right"><a href='https://canvas.toddr.org/user'><div class="image-cropper"><img src="#{profilePictureURL}" alt="Your Account"></div></a></li>
    |</ul>
</nav>